<h1 class="h1">Teacher List</h1>
@if (!isCardView) {
<button type="button" class="btn btn-primary" (click)="viewCard()"><i class="fa fa-address-card-o"
        aria-hidden="true"></i> Card</button>
<!-- Teacher Table start -->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">Department</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- LOOP for Teacher -->
        @for (teacher of teachers; track $index) {
        <tr>
            <td>{{teacher['teacherId']}}</td>
            <td>{{teacher['teacherName']}}</td>
            <td>{{teacher['department']}}</td>
            <td>
                <button type="button" class="btn btn-primary" style="margin-right: 5px;"
                    (click)="selectTeacher(teacher)">Select</button>
                <button type="button" class="btn btn-danger" (click)="delete(teacher)"><i class="fa fa-trash-o"
                        aria-hidden="true"></i></button>
            </td>
        </tr>
        }
        <!-- LOOP end -->

    </tbody>
</table>
<!-- Teacher Table end -->
} @else if (isCardView) {
<button type="button" class="btn btn-primary" (click)="viewTable()"><i class="fa fa-table" aria-hidden="true"></i>
    Table</button>
<!-- Teacher Card start -->
<div class="row">
    @for (teacher of teachers; track $index) {
    <div class="col-md-3 col-sm-12">
        <div class="card" style="width: 18rem; margin-top: 5px;">
            <img src="{{teacher.teacherPic}}" class="card-img-top" alt="img">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID: {{teacher.teacherId}}</li>
                <li class="list-group-item">NAME: {{teacher.teacherName}}</li>
                <li class="list-group-item">Department: {{teacher.department}}</li>
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-primary" style="margin-right: 5px;"
                    (click)="selectTeacher(teacher)">Select</button>
                <button type="button" class="btn btn-danger" (click)="delete(teacher)"><i class="fa fa-trash-o"
                        aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    }
</div>

<!-- Teacher Card end -->
}
<!-- Teacher From start -->
<h1 class="h1">Teacher FROM</h1>
<form [formGroup]="teacherForm" (ngSubmit)="onSubmit()">
    <div class="card" style="width: 50rem; margin-top: 5px; margin-left: 5px;">
        <div class="mb-3 d-flex align-items-center" style="margin-top: 5px; margin-left: 5px;">
            <label for="teacherID" class="me-2 mb-0">ID:</label>
            <input type="text" class="form-control" id="teacherID" formControlName="teacherIdFormControl"
                placeholder="Enter Teacher ID" style="max-width:750px"
                [class.is-invalid]="isInvalid('teacherIdFormControl')">
            <div class="invalid-feedback">
                กรุณาใส่ข้อมูลเป็นตัวเลขเท่านั้น
            </div>
        </div>
        <div class="mb-3 d-flex align-items-center" style="margin-left: 5px;">
            <label for="teacherName" class="me-2 mb-0">NAME:</label>
            <input type="text" class="form-control" id="teacherName" formControlName="teacherNameFormControl"
                placeholder="Enter Teacher NAME" style="max-width:720px"
                [class.is-invalid]="isInvalid('teacherNameFormControl')">
            <div class="invalid-feedback">
                @if (teacherForm.get('teacherNameFormControl')?.errors?.['required']) {
                กรุณาใส่ข้อมูล
                }
                @if (teacherForm.get('teacherNameFormControl')?.errors?.['minlength']) {
                กรุณาใส่ข้อมูล 5 ตัวขึ้นไป
                }
            </div>
        </div>
        <div class="mb-3 d-flex align-items-center" style="margin-left: 5px;">
            <label for="department" class="me-2 mb-0">Department:</label>
            <input type="text" class="form-control" id="department" formControlName="deparmentFormContorl"
                placeholder="Enter Department" style="max-width:680px"
                [class.is-invalid]="isInvalid('deparmentFormContorl')">
            <div class="invalid-feedback">
                กรุณาใส่ข้อมูล
            </div>
        </div>
        <div class="mb-3 d-flex align-items-center" style="margin-left: 5px;">
            <label for="teacherPicture" class="me-2 mb-0">Picture:</label>
            <input type="text" class="form-control" id="teacherPicture" formControlName="teacherPictureFormControl"
                placeholder="Enter Teacher Picture:URL" style="max-width:715px"
                [class.is-invalid]="isInvalid('teacherPictureFormControl')">
            <div class="invalid-feedback">
                กรุณาใส่ข้อมูล
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="teacherForm.invalid"
            style="width: 100px; margin: 5px;"><i class="fa fa-floppy-o" aria-hidden="true"
                style="padding-right: 5px;"></i>Save</button>
    </div>
</form>
<!-- Teacher From end -->